body {
  margin: 0;
  /* COLOR PALLETE */
  --color--background: #ffffff;
  --color--text: #000000;

  /* FONT FAMILY */
  font-family: "Droid Sans", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color--background);
  height: 100%;
  position: absolute;
  margin-bottom: 5%;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  height: 100%;
  background: url(/assets/img/best-hp-laptops-for-programming-hero1539740528465.jpg)
    no-repeat fixed 100% 100%;
  background-size: cover;
  width: 100%;
}

#bannertext {
  width: 24em;
  position: absolute;
  border: 0.5em solid #fff;
  margin-left: 5em;
  padding: 0 2em;
  font-size: larger;
  color: #fff;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10em;
  height: 100%;
}

.about-me__img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.about-me__img img {
  width: inherit;
  padding: 2em;
}

.about-me__content {
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: none;
  }

  .about-me__content{
    width: 100%;
  }
}
